ion-content {
    --background: #fff0f5; 
    padding: 16px;
  }
  
  ion-card {
    background-color: #fbeaff; 
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(234, 179, 255, 0.4); // soft purple shadow
    color: #4a0072; 
  }
  
  ion-card-title {
    color: #b266ff; 
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  ion-label {
    color: #800080; 
  }
  
  ion-toggle {
    --handle-background: #ffccff; 
    --handle-border-color: #ffc0cb;
    --background-checked: #dda0dd; 
  }
  
  ion-button {
    --background: #ffb6c1; 
    --background-activated: #ffa6c9;
    --color: #fff;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  ion-item {
    --background: #ffb6c1; /* or whatever lighter color you want */
  }

  ion-toggle {
    --handle-background: #800080; /* Color of the toggle circle */
    --handle-background-checked: #ffb6c1; /* When switched ON */
    --background: #800080; /* Soft background when OFF (Khaki color) */
    --background-checked: #ffb6c1; /* Background when ON */
  }

  