<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="timeFilter" (ionChange)="onFilterChange(timeFilter)">
    <ion-segment-button value="week">
      <ion-label>Last 7 Days</ion-label>
    </ion-segment-button>
    <ion-segment-button value="month">
      <ion-label>Last 30 Days</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item lines="none">
    <ion-icon slot="start" name="color-palette-outline"></ion-icon>
    <ion-label>
      Mood-based Colors
      <p>Toggle between blue or mood-specific colors</p>
    </ion-label>
    <ion-toggle
      [(ngModel)]="colorMode"
      (ionChange)="onColorToggle()"
      [checked]="colorMode === 'mood'">
    </ion-toggle>
  </ion-item>
  

  <ion-segment [(ngModel)]="chartType" (ionChange)="onChartTypeChange(chartType)">
    <ion-segment-button value="bar">
      <ion-label>Bar</ion-label>
    </ion-segment-button>
    <ion-segment-button value="line">
      <ion-label>Line</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card class="chart-card">
  <ion-card-header>
  <ion-card-title>Mood History</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <canvas baseChart
  [data]="chartData"
  [labels]="chartLabels"
  [type]="chartType"
  [options]="chartOptions">
</canvas>
</ion-card-content>
</ion-card>

</ion-content>
